/* color scheme - catpuccin */
:root {
  --base: rgba(17, 17, 27, 1.0);
  --text: rgba(205, 214, 244, 1.0);
  --baseTranslucent: rgba(205, 214, 244, 0.11);
  --rosewater: rgba(245, 224, 220, 1.0);
  --lavender: rgba(180, 190, 254, 1.0);
  --mauve: rgba(203, 166, 247, 1.0);
  --red: rgba(243, 139, 168, 1.0);
  --peach: rgba(250, 179, 135, 1.0);
  --yellow: rgba(249, 226, 175, 1.0);
  --green: rgba(166, 227, 161, 1.0);
  --teal: rgba(148, 226, 213, 1.0);
  --blue: rgba(137, 180, 250, 1.0);
}

@font-face {
  font-family: 'JetBrains';
  src: url(./metadata/fonts/JetBrainsMonoNerdFont-Regular.ttf);
}
@font-face {
  font-family: 'Dot';
  src: url(./metadata/fonts/DotGothic16-Regular.ttf);
}
@font-face {
  font-family: 'Hammer';
  src: url(./metadata/fonts/HammersmithOne-Regular.ttf);
}
@font-face {
  font-family: 'SpaceMono-Italic';
  src: url(./metadata/fonts/SpaceMono-Italic.ttf);
}
@font-face {
  font-family: 'SpaceMono';
  src: url(./metadata/fonts/SpaceMono-Regular.ttf);
}

/* let page take full height of viewport excess */
html {height: 100%;} body {position: absolute; top: 0; bottom: 0; right: 0; left: 0;}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: 'SpaceMono';
}

/* floating cash */
.bands {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cash {
  position: absolute;
  border-radius: 50%;
  animation: float 16s infinite;
}
@keyframes float {
  0% {
    opacity: 0;
    transform: scale(0.3);
    bottom: -10%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
    bottom: 120%;
  }
}

/* catppuccin/waybar inspired header */
header {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  height: auto;
  padding: 0;
  margin-top: 24px;
}

#volume-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-family: 'SpaceMono';
  font-size: 16px;
  color: var(--red);
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;
  cursor: pointer;
}
#volume-display:hover {
  background-color: rgba(243, 139, 168, 0.25);
}
#volume-display:active {
  background-color: var(--baseTranslucent);
}
#volume-current {
  letter-spacing: 2px;
  color: var(--red);
}

#volume-slider-container {
  width: 140px;
  height: auto;
  position: absolute;
  margin-top: 100px;
  margin-left: 0;
  padding: 0;
  border: none;
  border-radius: 12px;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 24px;
  padding: 4px 16px;
  background: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
  border-radius: 12px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 12px;
  background:var(--red);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 8px;
  height: 12px;
  background: var(--red);
  cursor: pointer;
}

#music-widget {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-family: 'SpaceMono';
  font-size: 16px;
  color: var(--mauve);
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;
  cursor: pointer;
}
#music-widget:hover {
  background-color: rgba(203, 166, 247, 0.25);
}
#music-widget:active {
  background-color: var(--baseTranslucent);
}
#music-icon {
  display: block;
  height: 14px;
  width: auto;
}
#music-button-spacer-1 {
  margin-right: -8px;
}
#music-button-spacer-2 {
  margin-left: -8px;
}
#play-music-button {
  height: 12px;
}
#pause-music-button {
  height: 12px;
}

#purchase-action-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.action-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-family: 'SpaceMono';
  font-size: 16px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;  
  border: none;
  color: var(--text);
  cursor: pointer;
}
#chart-button {
  color: var(--lavender);
}
#chart-button:hover {
  background-color: rgba(180, 190, 254, 0.25);
}
#chart-button:active {
  background-color: var(--baseTranslucent);
}
#buy-button {
  color: var(--green);
}
#buy-button:hover {
  background-color: rgba(166, 227, 161, 0.25);
}
#buy-button:active {
  background-color: var(--baseTranslucent);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-blur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  border-radius: 12px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;  
  border: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
h1 {
  font-family: 'SpaceMono-Italic';
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  margin-top: 24px;
  font-family: 'SpaceMono';
  font-size: 24px;
  letter-spacing: 2px;
}

#ca-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contract-title {
  font-size: 16px;
  border-bottom: 1.69px solid var(--text);
  margin-bottom: 12px;
}
#contract {
  font-size: 16px;
  letter-spacing: 1px;
}
#copy-ca-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 174px;
  height: auto;
  padding: 4px 0px;
  font-family: 'SpaceMono';
  font-size: 12px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;
  border: none;
  color: var(--text);
  cursor: pointer;
}

#socials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  margin-top: 24px;
  width: 100%;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-family: 'SpaceMono';
  font-size: 16px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;  
  border: none;
  color: var(--text);
  cursor: pointer;
}
.socials:active {
  background-color: var(--baseTranslucent);
}
#twitter-button {
  color: var(--blue);
}
#twitter-button:hover {
  background-color: rgba(137, 180, 250, 0.25);
}
#tg-button {
  color: var(--teal);
}
#tg-button:hover {
  background-color: rgba(148, 226, 213, 0.25);
}

/* tokenomics card */
#token-details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proofBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
  padding: 6px 12px;
  margin-top: 8px;
  font-family: 'SpaceMono';
  font-size: 12px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: none;
  color: var(--text);
  cursor: pointer;
}
.proofBtn:hover {
  background-color: rgba(205, 214, 244, 0.25);
}
.proofBtn:active {
  background-color: var(--baseTranslucent);
}
#mw-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mw-title {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-bottom: 1.69px solid rgba(205, 214, 244, 1.0);
}
#mw-addy {
  font-size: 16px;
  letter-spacing: 1px;
}

/* Switch for turning Emojis background on/off */
#emoji-switch-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-family: 'SpaceMono';
  font-size: 14px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;  
  border: none;
  color: var(--text);
  cursor: pointer;
}
#emoji-switch-container:hover {
  background-color: rgba(249, 226, 175, 0.25);
}
#emoji-switch-container:active {
  background-color: var(--baseTranslucent);
}
#emoji-back-on {
  color: var(--yellow);
}
#emoji-back-off {
  color: var(--yellow);
}

#landing-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#pfp {
  border: none;
  width: 280px;
  height: 280px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
#pfp img {
  opacity: 0.88;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
#close-landing-button {
  border: none;
  width: 328px;
  height: auto;
  padding: 8px 16px;
  font-family: 'SpaceMono';
  font-size: 16px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;
  color: var(--text);
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.55),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
#close-landing-button:hover {
  background-color: rgba(205, 214, 244, 0.25);
}

/* button to switch cards */
#switch-card {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 8px 12px;
  font-family: 'SpaceMono';
  font-size: 14px;
  background-color: var(--baseTranslucent);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;
  border: none;
  color: var(--text);
  cursor: pointer;
}
#switch-card:hover {
  background-color: rgba(205, 214, 244, 0.25);
}
#switch-card:active {
  background-color: var(--baseTranslucent);
}

/* mobile optimzations */
@media screen and (max-width: 801px) {
  header {
    width: 330px;
    margin-top: 24px;
  }
  #volume-display {
    flex-direction: column;
    padding: 8px 12px;
    font-size: 14px;
  }
  #volume-slider-container {
    margin-top: 160px;
  }
  #music-widget {
    gap: 4px;
    padding: 8px 12px;
    font-size: 14px;
  }
  #music-button-spacer-1 {
    margin-right: -2px;
  }
  #music-button-spacer-2 {
    margin-left: -2px;
  }
  #purchase-action-buttons {
    flex-direction: column;
    justify-content: space-between;
  }
  .action-button {
    padding: 4px 12px;
    font-size: 14px;
  }
  .main-blur {
    padding: 24px 24px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  #contract-title {
    font-size: 12px;
  }
  #contract {
    width: 280px;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .socials {
    padding: 8px 12px;
    font-size: 14px;
  }
  #emoji-switch-container {
    font-size: 12px;
  }
  #pfp {
    width: 240px;
    height: 240px;
  }
  #close-landing-button {
    width: 288px;
    padding: 8px 12px;
    font-family: 'SpaceMono';
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }
  .proofBtn {
  font-size: 12px;
  }
  #mw-title {
    font-size: 14px;
  }
  #mw-addy {
    font-size: 9px;
  }

  #switch-card {
    font-size: 12px;
  }
}